<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Post</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>
    <h2 class="heading">Here is Detail of the Post</h2>
    <div class="indPost">
        <h2 class="info">Id : <%= post.id %></h2>
        <h2 class="info">Username : <%= post.name %></h2>
        <h2 class="info">Content : <%= post.content %></h2>
    </div>

    <a href="/posts" class="back">Back to Home</a>
</body>
</html>