* {
    margin: 0;
    padding: 0;
}
.heading {
    text-align: center;
    color: brown;
}
.indPost {
    margin: 20px;
    border-radius: 10px;
    min-height: 100px;
    width: 500px;
    background-color: slateblue;
    color: white;
    padding: 10px;
}
.info {
    margin-bottom: 10px;
    margin-left: 10px;
}
.back {
    margin-left: 20px;
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
}