* {
  margin: 0;
  padding: 0;
}
.heading {
  color: brown;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.post {
  min-height: 200px;
  width: 400px;
  background-color: slateblue;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.id,
.username,
.content {
  margin-bottom: 10px;
}
.add {
  margin: 10px;
  margin-bottom: 10px;
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.det {
  margin-top: 17px;
}
.detail {
  text-decoration: none;
  background-color: rgb(0, 2, 124);
  color: white;
  padding: 5px;
  border-radius: 5px;
  /* margin-top: 10px; */
}
.ud-op {
  margin-top: 25px;
  /* display: flex; */
  /* background-color: red; */
}
.edit {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.delete {
  text-decoration: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-left: 90px;
  position: relative;
  bottom: 20px;
}
